body {
	  font-family: "Proxima Nova","Helvetica Neue","Helvetica",sans-serif;
  	background-color: #fff;
  	color: #303438;
  	padding: 0;
  	margin: 0;
}

#top {
	  position: relative;
  	overflow: hidden;
    height: 25em;
  	min-height: 80%;
  	width: 100%;
}

#bg {
    z-index: 2;
    height: 100%;
    width: 100%;
}

#top h1 {
  z-index: 1;
  text-align: center;
  background-color: rgb(0,0,0);
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.3em;
  font-size: 3.25em;
  font-weight: 500;
  color: #fff;
  margin: 0 auto;
  margin-top: 1em;
  display: table;
  text-transform: uppercase;
}

#press 	{
	background-color: #f0f0f0;
  	padding: 0;
  	overflow: hidden;
}

#items {
	margin: 1em auto;
  	display: table;
  	text-align: center;
  	max-width: 1200px;
}

#items a {
	margin: 0 auto;
	text-decoration: none;
}

#items img {
	height: 75px;
	width: auto;
	margin: 1em;
	margin-left: 0.75em;
	margin-right: 0.75em;
}

#last {
	width: auto;
    display: block;
	margin: 0;
	padding: 0;
	background-color: #232323;
}

.goal {
	height: 200px;
  	width: 33.3333333%;
  	position: relative;
  	font-size: 2em;
  	cursor: pointer;
 	float: left;
  	overflow: hidden;
}

.bg {
	background-size: cover;
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
}

.goal p {
	padding-top: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-weight: 400;
	color: #fff;
	line-height: 200px;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	height: 200px;
	width: 100%;
	top: 0;
	margin: 0;
	z-index: 2;
}

#b-right {
  position: fixed;
  background-color: #fc4946;
  padding: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  font-family: "Helvetica Neue","Helvetica","sans-serif";
  font-size: 1em;
  color: white;
}

#b-right img {
  border-radius: 2em;
	width: 1.5em;
  vertical-align: middle;
	position: absolute;
	left: 0.3em;
	bottom: 0.35em;
}